body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    margin: 30px auto 0 auto;
    text-align: center;
    background-color: #1b244a;
    padding: 0;

}

.title{
    color: #eeeeee;
    font-size: 40px;
    font-family: Verdana;
    margin-bottom: 0;
}

.score{
    background: #080001;
    color: #f94f6d;
    font-family: 'Orbitron';
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 155px;
    height: 120px;
    
}

button{
    background-color: #1b244a;
    color: #9aabd8;
    border: 1px solid #9aabd8 ;
    font-family: 'Orbitron';
    width: 45px;
    height: 45px;
    font-size: 18px;
    border-radius: 5px;
}

.btn{
    display: flex;
    justify-content: space-between;
}